<% if parent_signed_in? %>
<div class="sidebar" data-color="yellow" data-image="/img/sidebar-4.jpg">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text" href="#">
       PAIS
      </a>
    </div>
    <ul class="nav">
      <li class="active">
        <a href="#">
          <i class="pe-7s-browser"></i>
          <p>CALENDARIO</p>
        </a>
      </li>
      <li>
        <%= link_to current_parent do %>
          <i class="pe-7s-id"></i>
          <p>PERFIL</p>
        <% end %>
        <li>
        <%= link_to students_url do %>
          <i class="pe-7s-study"></i>
          <p>Your Students</p>
        <% end %>
      </li>
      </li>
       <li>
        <%= link_to teachers_url do %>
          <i class="pe-7s-id"></i>
          <p>Professor</p>
        <% end %>
      </li>
      <li>
        <%= link_to courses_url do %>
          <i class="pe-7s-ribbon"></i>
          <p>Curso</p>
        <% end %>
      </li>
      <li>
        <%= link_to classrooms_url do %>
          <i class="pe-7s-culture"></i>
          <p>Aulas</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end %>
