
<% if teacher_signed_in? %>
<div class="sidebar" data-color="yellow" data-image="/img/sidebar-4.jpg">
 <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text" href="#">
       TEACHERS
      </a>
    </div>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="pe-7s-browser"></i>
          <p>Your Calendar</p>
        </a>
      </li>
      <li>
        <%= link_to current_teacher do %>
          <i class="pe-7s-id"></i>
          <p>Teacher Profile</p>
        <% end %>
      </li>
      <li>
        <%= link_to students_url do %>
          <i class="pe-7s-study"></i>
          <p>Your Students</p>
        <% end %>
      </li>
      <li>
        <%= link_to courses_url do %>
          <i class="pe-7s-ribbon"></i>
          <p>Courses</p>
        <% end %>
      </li>
      <li>
        <%= link_to lessons_url do %>
          <i class="pe-7s-culture"></i>
          <p>Lessons</p>
        <% end %>
      </li>
      <li>
        <%= link_to attendances_url do %>
          <i class="pe-7s-note2"></i>
          <p>Attendance</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end %>
