
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="School Management" name="description"/>
    <meta content="School Management" name="Nhean"/>
    <title>EnglishBee</title>
    <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkSX4YNQLqzBJPKdQKuESstJxUGFK7Jg8"></script>
    <%= csrf_meta_tags %>
    <%= javascript_tag "$('.selectpicker').selectpicker();" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="<%= controller_name %>_<%= params[:action] %>">
    <div class="wrapper">
    <% if user_signed_in? %>
      <%= render 'partials/sidebar' %>
      <% elsif %>
      <% parent_signed_in? %>
      <%= render 'partials/parents-sidebar' %>
      <% elsif %>
      <% student_signed_in? %>
      <%= render 'partials/students-sidebar' %>
      <% elsif %>
      <% teacher_signed_in? %>
      <%= render 'partials/teachers-sidebar' %>
      <% else %>
      <% end %>
      <div class="main-panel">
        <%= render 'partials/topnav' %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
